<!doctype html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>混雑度チェッカー</title><!--titleはタブの名前(Webページのタイトル)-->
    <link rel="stylesheet" href="static/css/mobile.css" media="screen">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.range.css">
    <script src="../static/js/mobile.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/chartjs-plugin-streaming.min.js"></script>
    <script src="../static/js/desvg.min.js"></script>
    <script src="../static/js/holiday.js"></script>
    <script src="../static/js/jquery.range.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">混雑度チェッカー  <i class="far fa-clock"></i><span id="view_time"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_page"><i class="fas fa-sign-in-alt"></i> ログインページ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/J_details"><i class="fas fa-utensils"></i> J号館</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Z_details"><i class="fas fa-utensils"></i> Z号館</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/overview"><i class="fas fa-info-circle"></i> その他</a>
                </li>
            </ul>
        </div>
    </nav>
    <style>
        .far{
            font-size: 70%;
        }
        #view_time{
            font-size: 70%;
        }
        .navbar-brand{
            margin-right: 0;
        }
    </style>
    <script type="text/javascript">
        timerID = setInterval('clock()',500); //0.5秒毎にclock()を実行
        
        function clock() {
          document.getElementById("view_time").innerHTML = gettime();
        }
        
        function gettime() {
          var now = new Date();
          var hour = now.getHours();
          var min = now.getMinutes();
          var s =hour + "時" + min + "分現在"; 
          return s;
        }
        
    </script>

    <div class="container-wrapper">
        <!--J号館側-->
        <div class="card-body" >
            <div id="J_content1">
                <div class="title">
                    <p><span class="j">J</span> 号館１階食堂</p>
                </div>
                <div class="card-content">
                    <div>
                        <img class="J-icon" src="../static/images/icon1.png">
                    </div>
                    <div>
                        <p class="J_time">現在</p>
                        <p class="time-people">
                            <a class="J-Number-of-people">--</a>
                            <a>人</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <span class="information-left yureru-s1" onclick="J_left_onclick()"><i class="fas fa-angle-double-left"></i></span>
                <span class="information-right yureru-s2" onclick="J_right_onclick()"><i class="fas fa-angle-double-right"></i></span>
                <p class="J-information">読み込み中...</p>
            </div>

            <div class="line-content">
                <p class="J-now" id="J-now-click"><span>現 在</span></p>
                <p class="J-1" id="J-1-click"><span>1</span>分後</p>
                <p class="J-2" id="J-2-click"><span>2</span>分後</p>
                <p class="J-3" id="J-3-click"><span>3</span>分後</p>
                <p class="J-4" id="J-4-click"><span>4</span>分後</p>
                <p class="J-5" id="J-5-click"><span>5</span>分後</p>
            </div>
        </div>
        <!--Z号館側-->
        <div class="card-body">
            <div id="Z_content1">
                <div class="title">
                    <p><span class="z">Z</span> 号館2階食堂</p>
                </div>
                <div class="card-content">
                    <div>
                        <img class="Z-icon" src="../static/images/icon2.png">
                    </div>
                    <div>
                        <p class="Z_time">現在</p>
                        <p class="time-people">
                            <a class="Z-Number-of-people">--</a>
                            <a>人</a>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <span class="information-left yureru-s1" onclick="Z_left_onclick()"><i class="fas fa-angle-double-left"></i></span>
                <span class="information-right yureru-s2" onclick="Z_right_onclick()"><i class="fas fa-angle-double-right"></i></span>
                <p class="Z-information">読み込み中...</p>
            </div>
            <div class="line-content">
                <p class="Z-now" id="Z-now-click"><span>現 在</span></p>
                <p class="Z-1" id="Z-1-click"><span>1</span>分後</p>
                <p class="Z-2" id="Z-2-click"><span>2</span>分後</p>
                <p class="Z-3" id="Z-3-click"><span>3</span>分後</p>
                <p class="Z-4" id="Z-4-click"><span>4</span>分後</p>
                <p class="Z-5" id="Z-5-click"><span>5</span>分後</p>
            </div>
        </div>    
    </div>

    <!-- 長押しで表示 -->
    <section id="J-modalArea" class="modalArea">
        <div id="J-modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">
                <div class="title">
                    <p>J号館 <span class="j"><span class="J_time"></span></span>の詳細</p>
                </div>
                <div class="card-content">
                    <div>
                        <img class="J-icon" src="../static/images/icon1.png">
                    </div>
                    <div>
                        <p class="time-people">
                            <a class="J-Number-of-people">--</a>
                            <a>人</a>
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <p>--分析結果--</p>
                    <p class="J-information">読み込み中...</p>
                </div>
                <p>--過去の情報--</p>
                <p>1日前<span>○</span>人</p>
                <p>2日前<span>○</span>人</p>
                <p>2日前<span>○</span>人</p>
                <br>
                <p>※枠外をタップで詳細画面を閉じる</p>
            </div>
            </div>
        </div>
    </section>
    <!-- 長押しで表示 -->
    <section id="Z-modalArea" class="modalArea">
        <div id="Z-modalBg" class="modalBg"></div>
        <div class="modalWrapper">
            <div class="modalContents">
                <div class="title">
                    <p>Z号館 <span class="z"><span class="Z_time"></span></span>の詳細</p>
                </div>
                <div class="card-content">
                    <div>
                        <img class="Z-icon" src="../static/images/icon1.png">
                    </div>
                    <div>
                        <p class="time-people">
                            <a class="Z-Number-of-people">--</a>
                            <a>人</a>
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <p>--分析結果--</p>
                    <p class="Z-information">読み込み中...</p>
                </div>
                <p>--過去の情報--</p>
                <p>1日前<span>○</span>人</p>
                <p>2日前<span>○</span>人</p>
                <p>2日前<span>○</span>人</p>
                <br>
                <p>※枠外をタップで詳細画面を閉じる</p>
            </div>
            </div>
        </div>
    </section>
    





    <section id="content1"></section>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

<script>
    var J_startX = null,Z_startX=null;
    var J_endX = null,Z_endX=null;
    var J_count=0,Z_count=0;

    window.addEventListener('load', function(){
        // スワイプ／フリック
        document.getElementById("J_content1").addEventListener('touchmove', J_logSwipe);
        // タッチ開始
        document.getElementById("J_content1").addEventListener('touchstart', J_logSwipeStart);
        // タッチ終了
        document.getElementById("J_content1").addEventListener('touchend', J_logSwipeEnd);
        // スワイプ／フリック
        document.getElementById("Z_content1").addEventListener('touchmove', Z_logSwipe);
        // タッチ開始
        document.getElementById("Z_content1").addEventListener('touchstart', Z_logSwipeStart);
        // タッチ終了
        document.getElementById("Z_content1").addEventListener('touchend',  Z_logSwipeEnd);

    });

    function J_logSwipeStart(event) {
        event.preventDefault();

        J_startX = event.touches[0].pageX;
    }

    function J_logSwipe(event) {
        event.preventDefault();
        J_endX = event.touches[0].pageX;
    }

    function J_logSwipeEnd(event) {
        event.preventDefault();

        if( 10 < (J_endX - J_startX) ) {
            console.log("右向き");
            J_count=J_change_screeen(J_count-1)
        } else if(-10>(J_endX - J_startX)){
            console.log("左向き");
            J_count=J_change_screeen(J_count+1)
        }
    }
    function Z_logSwipeStart(event) {
        event.preventDefault();

        Z_startX = event.touches[0].pageX;
    }

    function Z_logSwipe(event) {
        event.preventDefault();
        Z_endX = event.touches[0].pageX;
    }

    function Z_logSwipeEnd(event) {
        event.preventDefault();

        if( 0 < (Z_endX - Z_startX) ) {
            console.log("右向き");
            Z_count=Z_change_screeen(Z_count-1)
        } else {
            console.log("左向き");
            Z_count=Z_change_screeen(Z_count+1)
        }
    }

    function J_now_onclick(){if(J_count!=0)J_count=J_change_screeen(0);}
    function J_1_onclick(){if(J_count!=1)J_count=J_change_screeen(1);}
    function J_2_onclick(){if(J_count!=2)J_count=J_change_screeen(2);}
    function J_3_onclick(){if(J_count!=3)J_count=J_change_screeen(3);}
    function J_4_onclick(){if(J_count!=4)J_count=J_change_screeen(4);}
    function J_5_onclick(){if(J_count!=5)J_count=J_change_screeen(5);}
    function Z_now_onclick(){if(Z_count!=0)Z_count=Z_change_screeen(0);}
    function Z_1_onclick(){if(Z_count!=1)Z_count=Z_change_screeen(1);}
    function Z_2_onclick(){if(Z_count!=2)Z_count=Z_change_screeen(2);}
    function Z_3_onclick(){if(Z_count!=3)Z_count=Z_change_screeen(3);}
    function Z_4_onclick(){if(Z_count!=4)Z_count=Z_change_screeen(4);}
    function Z_5_onclick(){if(Z_count!=5)Z_count=Z_change_screeen(5);}
    function J_left_onclick(){J_count=J_change_screeen(J_count-1);}
    function J_right_onclick(){J_count=J_change_screeen(J_count+1);}
    function Z_left_onclick(){Z_count=Z_change_screeen(Z_count-1);}
    function Z_right_onclick(){Z_count=Z_change_screeen(Z_count+1);}

    $(function () {
        $('#J-modalBg').click(function(){
            $('#J-modalArea').fadeOut();
        });
        $('#Z-modalBg').click(function(){
            $('#Z-modalArea').fadeOut();
        });
    });
   
    setInterval(function () {
        getcurrdata();
        J_change_screeen(J_count);
        Z_change_screeen(Z_count);
    }, 2000);
    setTimeout(function () {
        getcurrdata();
    }, 0);
</script>

<script>
    let count = 0;
    let timer;
    const ua = navigator.userAgent.toLowerCase();
    const isSP = /iphone|ipod|ipad|android/.test(ua);
    const J_now_b = document.getElementById('J-now-click');
    const J_1_b = document.getElementById('J-1-click');
    const J_2_b = document.getElementById('J-2-click');
    const J_3_b = document.getElementById('J-3-click');
    const J_4_b = document.getElementById('J-4-click');
    const J_5_b = document.getElementById('J-5-click');
    const Z_now_b = document.getElementById('Z-now-click');
    const Z_1_b = document.getElementById('Z-1-click');
    const Z_2_b = document.getElementById('Z-2-click');
    const Z_3_b = document.getElementById('Z-3-click');
    const Z_4_b = document.getElementById('Z-4-click');
    const Z_5_b = document.getElementById('Z-5-click');
    const eventStart = isSP ? 'touchstart' : 'mousedown';
    const eventEnd   = isSP ? 'touchend' : 'mouseup';
    const eventLeave = isSP ? 'touchmove' : 'mouseleave';
    
    J_now_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_now_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_now_onclick()
            }
        }, 10);
    })
    
    J_1_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_1_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_1_onclick()
            }
        }, 10);
    })

    J_2_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_2_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_2_onclick()
            }
        }, 10);
    })

    J_3_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_3_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_3_onclick()
            }
        }, 10);
    })

    J_4_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_4_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_4_onclick()
            }
        }, 10);
    })

    J_5_b.addEventListener(eventStart, e => {
        e.preventDefault();
        J_5_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#J-modalArea').fadeIn();
            } 
            else{
                J_5_onclick()
            }
        }, 10);
    })

    J_now_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_now_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    J_1_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_1_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    J_2_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_2_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    J_3_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_3_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    J_4_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_4_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    J_5_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        J_5_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });

    Z_now_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_now_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_now_onclick()
            }
        }, 10);
    })
    
    Z_1_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_1_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_1_onclick()
            }
        }, 10);
    })

    Z_2_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_2_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_2_onclick()
            }
        }, 10);
    })

    Z_3_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_3_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_3_onclick()
            }
        }, 10);
    })

    Z_4_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_4_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_4_onclick()
            }
        }, 10);
    })

    Z_5_b.addEventListener(eventStart, e => {
        e.preventDefault();
        Z_5_b.classList.add('active');
        timer = setInterval(() => {
            count++;
            if((count / 100)>=0.6){
                $('#Z-modalArea').fadeIn();
            } 
            else{
                Z_5_onclick()
            }
        }, 10);
    })

    Z_now_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_now_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    Z_1_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_1_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    Z_2_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_2_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    Z_3_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_3_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    Z_4_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_4_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });
    Z_5_b.addEventListener(eventEnd, e => {
    e.preventDefault();
    if (count) {
        Z_5_b.classList.remove('active');
        clearInterval(timer);
        count = 0;
    }
    });

    
</script>
</html>